html {
  height: 100%;
  width: 100%;
}
h1{
  color: #6321BF !important;
  font-size: 200%;
  text-align: center;
}

.navbar-brand{
  color: #ffffff !important;
}
.nav-link{
  color: #ffffff !important;
}

#pfp{
  border-radius: 8px;
  border: 1px solid #0D0D0D;
  padding: 0px;
  max-width: 100%;
  height: auto;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
h2 {
  color: #6321BF !important;
  font-size: 36px;
}
p {
  color: #F2F2F2 !important;
  text-indent: 30px;
}
a{
  color: #F2F2F2 !important;
  text-decoration: none !important;
  
}

a:hover {
  text-decoration: none ;
  color: #a83be3 !important;
}

.static {
  position:absolute;
  background: #11a4ee;
}

.static:hover {
  opacity:0;
}
.card-body{
  background-image: linear-gradient(to top, #b224ef 0%, #7579ff 100%);
  
}
#Title{
  color: #F2F2F2 !important;
  text-align: center;
  font-size: 50px;
}

.card{
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  max-width: 250px;
}
body{
  background-image: linear-gradient(-225deg, #A8BFFF 0%, #884D80 100%);
background-attachment: fixed;
}

#Dark{
  background-image: linear-gradient(to bottom, #100e16 0%, #24212c 100%);
background-attachment: fixed;
}
