@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pacifico&display=swap');

html {
  height: 100%;
  width: 100%;
}

h1 {
  color: mediumpurple!important;
}

h3 {
  text-decoration: underline !important;
}

a {
  text-decoration: none !important;
}

a:hover {
  text-decoration: underline !important;
  color: 
}

body {
  background: rgb(2,0,32);
  background: linear-gradient(90deg, rgba(2,0,32,1) 32%, rgba(1,25,48,1) 100%, rgba(0,212,255,1) 100%);
  color: white !important;
}

#fontChange {
  font-family: 'Dancing Script', cursive;
  font-family: 'Pacifico', cursive;
}

h1 {text-shadow: 4px 4px  #5e039b;}